* {
    text-decoration: none;
}
h1 {
    color: red;
}
h2 {
    color: green;
}
.season1 {
    color: orange;
}
.season2 {
    color: violet;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
#walter {
    color: darkviolet;
}
#jesse {
    color: darkblue;
}
#saul {
    color: darkgreen;
}
#gus {
    color: darkred;
}
a[href*="title"] {
    text-transform: lowercase;
}
a[href*="name"] {
    text-transform: uppercase;
}
